USE [master]
GO
/****** Object:  Database [classificado]    Script Date: 18/06/2021 23:52:16 ******/
CREATE DATABASE [classificado]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'classificado', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\classificado.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'classificado_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\classificado_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [classificado].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [classificado]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/06/2021 23:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CLASSIFICADO]    Script Date: 18/06/2021 23:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CLASSIFICADO](
	[ID_CLASSIFICADO] [int] IDENTITY(1,1) NOT NULL,
	[NM_TITULO] [nvarchar](100) NOT NULL,
	[DS_DESCRICAO] [nvarchar](50) NOT NULL,
	[DT_DATA] [datetime2](7) NOT NULL,
	[FL_ATIVO] [bit] NOT NULL,
 CONSTRAINT [PK_TB_CLASSIFICADO] PRIMARY KEY CLUSTERED 
(
	[ID_CLASSIFICADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210615042039_InitialCreate', N'5.0.7')
SET IDENTITY_INSERT [dbo].[TB_CLASSIFICADO] ON 

INSERT [dbo].[TB_CLASSIFICADO] ([ID_CLASSIFICADO], [NM_TITULO], [DS_DESCRICAO], [DT_DATA], [FL_ATIVO]) VALUES (1, N'Classificado 1', N'Descrição 1', CAST(N'2021-06-15T04:22:29.4480000' AS DateTime2), 1)
INSERT [dbo].[TB_CLASSIFICADO] ([ID_CLASSIFICADO], [NM_TITULO], [DS_DESCRICAO], [DT_DATA], [FL_ATIVO]) VALUES (2, N'Classificado 2', N'Descrição 2', CAST(N'2021-06-17T01:42:30.3339576' AS DateTime2), 1)
INSERT [dbo].[TB_CLASSIFICADO] ([ID_CLASSIFICADO], [NM_TITULO], [DS_DESCRICAO], [DT_DATA], [FL_ATIVO]) VALUES (5, N'Classificado 5', N'Descrição 5', CAST(N'2021-06-17T01:59:27.4083011' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[TB_CLASSIFICADO] OFF
ALTER TABLE [dbo].[TB_CLASSIFICADO] ADD  DEFAULT (CONVERT([bit],(0))) FOR [FL_ATIVO]
GO
USE [master]
GO
